{% extends '_base.html' %}
{% load static %}
{% block title %}
    About Me
{% endblock title %}


{% block content %}
    <header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Rohit Geddam</h1>
</header>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>I am a student, software developer.</p>
    <p>I love the internet, technology, and building  things on my own.</p>
</section>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p>I'm originally from Bhilai, Chhattisghar, INDIA </p>

    <h1>Why Should You Read Books?</h1>
    <p>You should read books because life is tooo short to learn from your own mistakes. A Wise men is the one who learns from others mistakes.</p>
    <h1>Why Do I Write Summaries About Books I Read?</h1>
    <p>I write summaries about books i read, to make the learnings consolidate and also help other learn the important from that book without actually reading the whole book.</p>
</section>
<section class="questions-section">
    <h1>More About Me</h1>
    <h2>What are your favorite hobbies?</h2>
    <p>My favorite hobby is making webapps and creating minecraft plugins.</p>
    <h2>What's your dream job?</h2>
    <p>My dream job is Software enginner.Working on latest technologies.</p>
    <h2>Where do you live?</h2>
    <p>I live in Bhilai,INDIA.</p>
    <h2>Why do you want to be a web developer?</h2>
    <p>Because programming is awesome and programming for the internet is even more awesome.</p>
</section>

<footer class="content-footer">
    <p>Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" target="_blank" href="https://github.com/rohitgeddam">GitHub</a></li>
        <li><a class="css-is-deranged" target="_blank" href="https://twitter.com/geddam_rohit">Twitter</a></li>
        <li><a class="css-is-deranged" target="_blank" href="https://rohitgeddam.github.io/myPortfolioSite/">My Website</a></li>
        <li><a class="css-is-deranged" target="_blank" href="https://rohitgeddam.hashnode.dev/">My Blog</a></li>
    </ul>
  
</footer>    

{% endblock content %}